.form-container {
  width: 40vw;
  margin: 5vh auto;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
}
.form-container > * {
  margin: 2vh auto;
}

.iframe-container {
  padding: 2.5vh 2.5vw;
  overflow: hidden;
  width: 35vw;
  height: 35vh;
}
.iframe {
  height: 100vh;
  width: 100vw;
  transform: scale(0.35);
  transform-origin: 0 0;
}

.map-container {
  position: absolute;
  top: 2.5vh;
  left: 0.5vw;
  height: 95vh;
  width: 70vw;
  z-index: -1;
}

.territory {
  width: 18px;
  height: 18px;
  background-color: #ccc7c777;
  color: white;
  font-weight: bold;
  border: 3px solid #918e8b;
  border-radius: 100%;
  text-align: center;
  transition: width 0.1s, height 0.1s;
}
.highlighted {
  width: 22px;
  height: 22px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-1 {
  border: 3px solid #1bad22;
}
.player-2 {
  border: 3px solid #0e12bd;
}
.player-3 {
  border: 3px solid #d90505;
}
.player-4 {
  border: 3px solid #fb65ee;
}
.player-5 {
  border: 3px solid #ab009d;
}
.player-6 {
  border: 3px solid #ff8001;
}
.player-7 {
  border: 3px solid #181818;
}
.player-8 {
  border: 3px solid #e8f102;
}
.player-9 {
  border: 3px solid #05dbee;
}

.sidebar {
  position: absolute;
  margin: 0;
  right: 0;
  top: 2.5vh;
  width: 28vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.controller {
  width: 100%;
  position: absolute;
  top: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4vh 0;
}

.controller button {
  height: 8vh;
  width: 8vh;
  border-radius: 100%;
  font-size: 180%;
}

.controller button:focus {
  outline: 0;
  border-color: blue;
  border-radius: 100%;
}

.stat-tracker {
  position: absolute;
  bottom: 0;
  width: 25vw;
  text-align: center;
}
.name-entry {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 0.5vh 0.5vw;
}

th {
  border-bottom: 1.5px solid lightgray;
}
td {
  border-bottom: 0.75px solid lightgray;
}
